.App {
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 4% 70vh 10vh 5vh;
  grid-template-areas:
    "h h"
    "m m"
    "a a"
    "f f";
}

li, a {
  text-shadow: black 0.5px 0.5px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 20px;
  color: white;
  text-decoration: none;
  outline: none;
}

.logoBarra {
  width: 250px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2%;
    height: 60px;
    background: #06c7d2;
    grid-area: h;
}

.elementosBarra {
  list-style: none;
}

.elementosBarra li {
  display: inline-block;
  padding: 0px 50px;
}

.elementosBarra li a {
  transition: all 0.3s ease 0s;
}

.elementosBarra li a:hover {
  color: #0088a9;
}

.ilustration{
    width: 38%;
    height: 100%;
    top: 598px;
    left: 61px;
}

.main{
    display: flex;
    margin-top: 45px;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    text-align: right;
    background: rgba(0, 175, 185, 0.20);
    grid-area: m;
}


h1{
    font-weight: bold;
    font-size: 52px;
    color:#383838;
    text-decoration: none;
    grid-area: a;
    margin-bottom: -50px;
}

h6{
    font-weight: normal;
    font-style: italic;
    font-size: 30px;
    color:grey;
    text-decoration: none;
    
}

.text1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}



